.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.639);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        padding: 10% 15%;
        background-color: white;
        max-width: 60vw;

        .refresh-btn-container {
        padding-top: 5vh;
         text-align: center;
        }
    }
}