@import "../VARIABLES/Variables.scss";

.Match {
    display: flex;
    justify-content: center;
    gap: 10%;

    .match-container {
        display: flex;

        .winner {
            border: 4px solid $greenColor;
            height: 5em;
            width: 5em;
        }

        .loser {
            border: 4px solid $redColor;
            height: 5em;
            width: 5em;
        }

        p {
            margin-bottom: 1vh;
        }
    }

    button{
        @include deleteBtnStyle();
    }
}